<% if(locals.admin==true){%>
    <h1 style="display: none;">Profile!</h1>
    <% } %>
        <% if(locals.admin==true){%>
            <% if(locals.messagesError!='' || locals.messageSuccess!='' || locals.messageInform!='' ){ %>
                <div class="allmessages">
                    <% if(locals.messagesError!='' ){ %>
                        <h6 class="text-danger text-center border-danger border-1 py-1 px-3 message position-relative">
                            <%= locals.messagesError %>
                        </h6>
                        <% } %>
                            <% if(locals.messageSuccess!='' ){ %>
                                <h5
                                    class="text-success text-center position-relative success bg-secondary-subtle mx-auto">
                                    <%= locals.messageSuccess %>
                                </h5>
                                <% } %>
                                    <% if(locals.messageInform!='' ){ %>
                                        <h5 class="text-bg-info text-center inform py-2 px-3 mx-auto message position-relative"
                                            style="border-radius: 25px;box-shadow: 4px 4px 4px 4px rgb(255, 255, 98);top:5px;position: relative;">
                                            <%= locals.messageInform %>
                                        </h5>
                                        <% } %>
                </div>
                <%}%>
                    <% } %>
                        <h3 class="text-center rounded-1 hey mx-auto hey_profile">
                            <% if(locals.admin==true){%> Hi
                                <% } %>
                                    <span class="">
                                        <%=locals.userName %>
                                    </span>
                        </h3>
                        <div class="imgform">
                            <div class="imgfile">
                                <div class="works_resume">
                                    <a href="/<%=locals.paramsName %>/works"
                                        class="btn btn-success position-relative">Works</a>
                                    <a href="/<%=locals.paramsName %>/resume"
                                        class="btn btn-success position-relative">Full
                                        Resume</a>
                                </div>
                                <img id="image" src="<%= locals.image %>" class="img-thumbnail mb-3">
                                <% if(locals.admin==true){%>
                                    <form action="uploadfile" method="post" enctype="multipart/form-data">
                                        <input type="file" name="file" id="file" accept="image/jpeg svg png jpg gif"
                                            class="p-0">
                                        <div id="actionbutton">
                                            <input type="hidden" name="_csrf" value={{token}}>
                                            <input type="submit" value="Save" class="save btn btn-success mb-3 mt-3">
                                            <a href="/profile" class="btn-secondary btn cancel">Cancel</a>
                                        </div>
                                    </form>
                                    <div class="container-fluid mt-5">
                                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                            id="deleteButtonUser" data-bs-target="#deleteModalUser">Delete your
                                            account</button>

                                        <div class="modal fade" id="deleteModalUser" tabindex="-1"
                                            aria-labelledby="exampleModalLabelUser" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="exampleModalLabelUser">
                                                            You
                                                            are
                                                            about to
                                                            delete your account and works.</h1>
                                                        <button type="button" class="btn-close text-bg-light"
                                                            data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Are you sure?
                                                        </p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Cancel</button>
                                                        <form action="deleteAccount" method="POST"
                                                            class="position-relative">
                                                            <button type="submit" class="btn btn-primary">Delete
                                                                my
                                                                account</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <%}%>
                            </div>
                            <form action="updateUser" method="post" class="" id="updatuser">
                                <% if(locals.admin==true){%>
                                    <div class="form-group form-group1">
                                        <label for="firstName" class="form-label">First
                                            Name</label>
                                        <input type="text" name="firstName" id="firstName"
                                            value="<%= locals.firstName %>" autocomplete="additional-name"
                                            class="p-1 mb-1 form-control d-inline w-50 input1"
                                            aria-describedby="helpId">
                                    </div>
                                    <div class="form-group form-group1">
                                        <label for="lastName" class="form-label">Last
                                            Name</label>
                                        <input type="text" name="lastName" id="lastName" value="<%= locals.lastName %>"
                                            class="p-1  mb-1 form-control d-inline w-50 input1"
                                            autocomplete="additional-name">
                                    </div>
                                    <div class=" form-group form-group1">
                                        <label for="email" class="form-label">Email</label>
                                        <input type="email" name="email" id="email" value="<%= locals.email %>" required
                                            class="p-1  mb-1 form-control d-inline w-50 input1"
                                            aria-describedby="helpId" autocomplete="additional-name">
                                        <p id="alertEmail" class="text-secondary mb-0 text-danger">
                                        </p>
                                    </div>
                                    <% if(locals.password){ %>
                                        <div class="form-group form-group1">
                                            <label for="password" class="form-label">Password<span id="showProfile"
                                                    class="">👁</span></label>
                                            <input type="password" name="password" id="password" minlength="6"
                                                class="p-1  mb-1 form-control d-inline w-50 input1"
                                                aria-describedby="helpId">
                                            <p id="alertPassword" class="text-secondary mb-0 text-danger">
                                            </p>
                                        </div>
                                        <% } %>
                                            <p class="comma text-wrap my-0" style="font-size: x-small;">Place
                                                one comma between every two
                                                terms.
                                            </p>
                                            <div class="form-group form-group1">
                                                <label for="speciality" class="form-label">Speciality</label>
                                                <input type="text" name="speciality" id="speciality"
                                                    value="<%= locals.speciality %>"
                                                    class="p-1 mb-1 form-control d-inline input1"
                                                    aria-describedby="helpId" autocomplete="additional-name">
                                            </div>
                                            <div class="form-group form-group1">
                                                <label for="education" class="form-label">Education</label>
                                                <input type="text" name="education" id="education"
                                                    value="<%= locals.education %>"
                                                    class="p-1 mb-1 form-control d-inline w-50 input1"
                                                    aria-describedby="helpId" autocomplete="additional-name">
                                            </div>
                                            <div class="form-group form-group1">
                                                <label for="skills" class="form-label skills_label">Skills</label>
                                                <textarea type="text" name="skills" id="skills"
                                                    class="p-1 mb-1 form-control input1 skills d-inline w-50"
                                                    rows="4"><%= locals.skills %></textarea>

                                            </div>
                                            <div class="form-group form-group1">
                                                <label class="form-label confirmed_label">Confirmed
                                                    Email</label>
                                                <% if(locals.confirmed=='true' ){ %>
                                                    <p id="confirmed" class="p-1 mb-1" disabled>
                                                        Confirmed ✔</p>
                                                    <% }else{ %>
                                                        <p id='notconfirmed' class="p-1 mb-1">
                                                            Not confirmed ❌</p>
                                                        <div id="notConfirmedNote" class="form-group form-group1">
                                                            <p>You have to confirm your email by
                                                                clicking
                                                                the
                                                                link
                                                                which
                                                                was
                                                                sent to your email.
                                                            </p>
                                                        </div>
                                                        <% }%>

                                            </div>
                                            <div class="form-group form-group1">
                                                <label for="birthday" class="form-label">Birthday</label>
                                                <input type="date" name="birthday" id="birthday"
                                                    class="p-1 mb-1 form-control d-inline w-50 input1"
                                                    aria-describedby="helpId"><br>
                                                <label for="birthdayShow" class="form-label"></label>
                                                <input type="text" disabled id="birthdayShow"
                                                    value="<%= locals.birthday %>"
                                                    class="p-1 mb-1 form-control d-inline w-50 input1"
                                                    aria-describedby="helpId" style="font-size: x-small;">

                                            </div>
                                            <div class="form-group form-group1">
                                                <label for="gender" class="form-label">Gender</label>
                                                <select name="gender" id="gender"
                                                    class="p-1 mb-1 form-control d-inline input1"
                                                    aria-describedby="helpId">
                                                    <% if(locals.gender=='' ){ %>
                                                        <option value="" selected> </option>
                                                        <% }else{ %>
                                                            <option value=""> </option>
                                                            <%}%>
                                                                <% if(locals.gender=='male' ){ %>
                                                                    <option value="male" selected>
                                                                        Male
                                                                    </option>
                                                                    <% }else{ %>
                                                                        <option value="male">
                                                                            Male
                                                                        </option>
                                                                        <%}%>
                                                                            <% if(locals.gender=='female' ){ %>
                                                                                <option value="female" selected>
                                                                                    Female
                                                                                </option>
                                                                                <% }else{ %>
                                                                                    <option value="female">
                                                                                        Female
                                                                                    </option>
                                                                                    <%}%>

                                                </select>
                                            </div>
                                            <div class="form-group form-group1">
                                                <label for="location" class="form-label">Location</label>
                                                <input type="text" name="location" id="location"
                                                    class="p-1 mb-1 form-control d-inline w-50 input1"
                                                    value="<%= locals.location %>" aria-describedby="helpId">
                                            </div>
                                            <div class="form-group form-group1">
                                                <a href="#password">
                                                    <input type="submit" id="update" value="Update"
                                                        class="btn btn-primary mt-1 mb-2">
                                                </a>
                                            </div>
                                            <% if(locals.confirmed!='true' ){ %>
                                                <a href="/sendlink" id="sendlink1">Resend a
                                                    confirmation's
                                                    link</a>
                                                <% }%>
                                                    <% }else{ %>
                                                        <div class="form-group form-group1">
                                                            <label for="firstName" class="form-label">First
                                                                Name</label>
                                                            <input type="text" name="firstName" id="firstName"
                                                                value="<%= locals.firstName %> " disabled
                                                                class="p-1 mb-1 form-control d-inline w-50 input1"
                                                                aria-describedby="helpId">
                                                        </div>
                                                        <div class="form-group form-group1">
                                                            <label for="lastName">Last
                                                                Name</label>
                                                            <input type="text" name="lastName" id="lastName"
                                                                value="<%= locals.lastName %>" disabled
                                                                class="p-1  mb-1 form-control d-inline w-50 input1">
                                                        </div>
                                                        <div class=" form-grogenup form-group1">
                                                            <label for="lastName" class="">Email</label>
                                                            <input type="email" name="email" id="email"
                                                                value="<%= locals.email %>" required
                                                                class="p-1  mb-1 form-control d-inline w-50 input1"
                                                                aria-describedby="helpId" disabled>
                                                        </div>
                                                        <div class="form-group form-group1">
                                                            <label for="speciality"
                                                                class="form-label">Speciality</label>
                                                            <input type="text" name="speciality" id="speciality"
                                                                disabled value="<%= locals.speciality %>"
                                                                class="p-1 mb-1 form-control d-inline w-50 input1"
                                                                aria-describedby="helpId">
                                                        </div>
                                                        <div class="form-group form-group1">
                                                            <label for="education" class="form-label">Education</label>
                                                            <input type="text" name="education" id="education" disabled
                                                                value="<%= locals.education %>"
                                                                class="p-1 mb-1 form-control d-inline w-50 input1"
                                                                aria-describedby="helpId">
                                                        </div>
                                                        <div class="form-group form-group1">
                                                            <label for="skills"
                                                                class="form-label skills_label">Skills</label>
                                                            <textarea type="text" name="skills" id="" value="" disabled
                                                                class="p-1 mb-1 form-control d-inline w-50 input1 skills"
                                                                rows="4"
                                                                aria-describedby="helpId"><%= locals.skills %></textarea>
                                                        </div>
                                                        <div class="form-group form-group1">
                                                            <label for="birthday" class="form-label">Birthday</label>
                                                            <input type="text" value="<%= locals.birthday %>"
                                                                class="p-1 mb-1 form-control d-inline w-50 input1"
                                                                aria-describedby="helpId" disabled
                                                                style="font-size: x-small;">

                                                        </div>
                                                        <div class="form-group form-group1">
                                                            <label for="gender" class="form-label">Gender</label>
                                                            <select name="gender" id="gender" disabled
                                                                class="p-1 mb-1 form-control d-inline input1"
                                                                aria-describedby="helpId">
                                                                <% if(locals.gender=='' ){ %>
                                                                    <option value="" selected>
                                                                    </option>
                                                                    <% }else{ %>
                                                                        <option value="">
                                                                        </option>
                                                                        <%}%>
                                                                            <% if(locals.gender=='male' ){ %>
                                                                                <option value="male" selected>
                                                                                    Male
                                                                                </option>
                                                                                <% }else{ %>
                                                                                    <option value="male">
                                                                                        Male
                                                                                    </option>
                                                                                    <%}%>
                                                                                        <% if(locals.gender=='female' ){
                                                                                            %>
                                                                                            <option value="female"
                                                                                                selected>
                                                                                                Female
                                                                                            </option>
                                                                                            <% }else{ %>
                                                                                                <option value="female">
                                                                                                    Female
                                                                                                </option>
                                                                                                <%}%>
                                                                                                    <% if(locals.gender=='non-binary'
                                                                                                        ){ %>
                                                                                                        <option
                                                                                                            value="non-binary"
                                                                                                            selected>
                                                                                                            None-Binary
                                                                                                        </option>
                                                                                                        <% }else{ %>
                                                                                                            <option
                                                                                                                value="non-binary">
                                                                                                                None-Binary
                                                                                                            </option>
                                                                                                            <%}%>
                                                                                                                <% if(locals.gender=='none'
                                                                                                                    ){
                                                                                                                    %>
                                                                                                                    <option
                                                                                                                        value="none"
                                                                                                                        selected>
                                                                                                                        Prefer
                                                                                                                        not
                                                                                                                        to
                                                                                                                        say
                                                                                                                    </option>
                                                                                                                    <% }else{
                                                                                                                        %>
                                                                                                                        <option
                                                                                                                            value="none">
                                                                                                                            Prefer
                                                                                                                            not
                                                                                                                            to
                                                                                                                            say
                                                                                                                        </option>
                                                                                                                        <%}%>
                                                            </select>
                                                        </div>
                                                        <div class="form-group form-group1">
                                                            <label for="location" class="form-label">Location</label>
                                                            <input type="text" name="location" id="location"
                                                                class="p-1 mb-1 form-control d-inline w-50 input1"
                                                                value="<%= locals.location %>" disabled
                                                                aria-describedby="helpId">
                                                        </div>
                                                        <%}%>
                            </form>
                        </div>

                        <script>
                            var education = document.getElementById('education');
                            education.oninput = function () {
                                const lastLetter = education.value[education.value.length - 1];
                                console.log('1: ', lastLetter)
                                if (lastLetter == ',' || lastLetter == '-' || lastLetter == ' ') {
                                    console.log('2: ', 'space')
                                    // education.value = education.value.slice(0, -1)
                                }
                            }
                        </script>
